* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.step {
  color: #ccc;
  display: flex;
  margin: 30px 30px;
}
.step-active {
  display: flex;
  margin: 30px 30px;
  color: #e67e22;
}
.number {
  border: 1px solid #ccc;
  /* padding: 5px; */
  border-radius: 50%;
  width: 30px;
  text-align: center;
  margin-right: 5px;
  height: 30px;
  margin-top: 5px;
}
.step-number {
  margin-top: 8px;
}
.input-form {
  width: 30%;
  margin: 20px auto;
}
